<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportServerTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ReportServerTools.Properties.Settings>
            <setting name="ReportServerURL" serializeAs="String">
                <value>http://yourreportserveradress/</value>
            </setting>
            <setting name="Benutzername" serializeAs="String">
                <value>DOMAIN\Username</value>
            </setting>
            <setting name="Passwort" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="SQLConnectionString" serializeAs="String">
                <value>Data Source=(local);Initial Catalog=ReportServerTools;Integrated Security=True</value>
            </setting>
            <setting name="ReportServerDBName" serializeAs="String">
                <value>ReportServer</value>
            </setting>
        </ReportServerTools.Properties.Settings>
    </userSettings>
</configuration>